USE [ClinicaJordan]
GO
/****** Object:  Table [dbo].[Tb_Especialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Especialidad](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ListarEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ListarEspecialidad]
AS
SELECT 
	id_especialidad AS IdEspecialidad,
	nombre AS Nombre,
	descripcion AS Descripcion,
	estado AS Estado
FROM Tb_Especialidad
GO
/****** Object:  Table [dbo].[Tb_Paciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Paciente](
	[id_paciente] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[peso] [decimal](5, 2) NOT NULL,
	[altura] [decimal](4, 2) NOT NULL,
	[sexo] [char](1) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Medicamento]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Medicamento](
	[id_medicamento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [varchar](300) NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[stock] [int] NOT NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medicamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Cita]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Cita](
	[id_cita] [int] IDENTITY(1,1) NOT NULL,
	[codigo_cita] [varchar](20) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[id_medico] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_programada] [time](7) NOT NULL,
	[hora_llegada] [time](7) NULL,
	[estado] [varchar](20) NOT NULL,
	[motivo_cancelacion] [varchar](255) NULL,
	[fecha_registro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Consulta]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Consulta](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[id_cita] [int] NOT NULL,
	[motivo] [varchar](255) NULL,
	[diagnostico] [varchar](500) NULL,
	[observaciones] [varchar](500) NULL,
	[fecha_hora] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_Receta]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Receta](
	[id_receta] [int] IDENTITY(1,1) NOT NULL,
	[codigo_receta] [varchar](20) NOT NULL,
	[id_consulta] [int] NOT NULL,
	[fecha_emision] [datetime] NOT NULL,
	[observaciones] [varchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_RecetaDetalle]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_RecetaDetalle](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_receta] [int] NOT NULL,
	[id_medicamento] [int] NOT NULL,
	[dosis] [varchar](100) NOT NULL,
	[frecuencia] [varchar](100) NOT NULL,
	[duracion] [varchar](100) NOT NULL,
	[instrucciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_HistorialPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_HistorialPaciente] AS
SELECT 
CONCAT(P.nombres, ' ', P.apellidos) AS Nombre_Completo_Paciente,  
C.fecha AS Fecha_Cita,
Co.diagnostico AS Diagnostico,
M.nombre AS Nombre_Medicamento,
CONCAT(RD.dosis, ' - ' ,RD.frecuencia) AS Dosis_Frecuencia
FROM Tb_Paciente P
INNER JOIN Tb_Cita C ON C.id_paciente = P.id_paciente
INNER JOIN Tb_Consulta Co ON Co.id_cita = C.id_cita
INNER JOIN Tb_Receta R ON R.id_consulta = Co.id_consulta
INNER JOIN Tb_RecetaDetalle RD ON RD.id_receta = R.id_receta
INNER JOIN Tb_Medicamento M ON M.id_medicamento = RD.id_medicamento
GO
/****** Object:  Table [dbo].[Tb_Medico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Medico](
	[id_medico] [int] IDENTITY(1,1) NOT NULL,
	[dni] [char](8) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[correo] [varchar](150) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[turno] [char](1) NOT NULL,
	[id_especialidad] [int] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_medico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_CitasPendientes]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_CitasPendientes] AS
SELECT 
C.codigo_cita AS Codigo_Cita,
CONCAT(P.nombres, ' ', P.apellidos) AS Nombre_Completo_Paciente,   
CONCAT(M.nombres, ' ', M.apellidos) AS Nombre_Completo_Medico,
E.nombre AS Especialidad,
CONCAT(C.fecha, ' - ', C.hora_programada) AS Fecha_Hora_Programada
FROM Tb_Cita C
INNER JOIN Tb_Paciente P ON C.id_paciente = P.id_paciente
INNER JOIN Tb_Medico M ON C.id_medico = M.id_medico
INNER JOIN Tb_Especialidad E ON M.id_especialidad = E.id_especialidad
WHERE C.estado = 'pendiente'
GO
/****** Object:  Table [dbo].[Tb_Examen]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Examen](
	[id_examen] [int] IDENTITY(1,1) NOT NULL,
	[codigo_examen] [varchar](20) NOT NULL,
	[id_consulta] [int] NOT NULL,
	[tipo] [varchar](100) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_solicitud] [date] NOT NULL,
	[fecha_realizacion] [date] NULL,
	[resultado_texto] [varchar](500) NULL,
	[resultado_url] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_examen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ExamenesPendientes]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ExamenesPendientes] AS
SELECT
EX.codigo_examen,
CONCAT(P.nombres, ' ', P.apellidos) AS Nombre_Completo_Paciente,   
CONCAT(M.nombres, ' ', M.apellidos) AS Nombre_Completo_Medico,
EX.tipo AS Tipo_Examen,
EX.nombre AS Nombre_Examen,
CO.motivo AS Motivo,
CO.diagnostico AS Diagnostico,
CO.observaciones AS Observaciones,
EX.fecha_solicitud AS Fecha_Solicitud,
DATEDIFF(DAY, EX.fecha_solicitud, GETDATE()) AS Dias_Pendiente
FROM Tb_Examen EX
INNER JOIN Tb_Consulta CO ON EX.id_consulta = CO.id_consulta
INNER JOIN Tb_Cita C ON CO.id_cita = C.id_cita
INNER JOIN Tb_Paciente P ON C.id_paciente = P.id_paciente
INNER JOIN Tb_Medico M ON M.id_medico = C.id_medico
WHERE EX.estado = 'Pendiente'
GO
/****** Object:  View [dbo].[VW_MedicoEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_MedicoEspecialidad]
AS
SELECT
	E.nombre AS Nombre,
	CONCAT(M.nombres, ' ', M.apellidos) AS Medico_Especialista,
	E.descripcion AS Descripcion,
	E.estado AS Estado
FROM Tb_Especialidad E
INNER JOIN Tb_Medico M ON E.id_especialidad = M.id_especialidad
GO
/****** Object:  View [dbo].[VW_ListarMedico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_ListarMedico]
AS
SELECT 
    M.id_medico AS IdMedico,
    M.dni AS Dni,
    M.nombres AS Nombres,
    M.apellidos AS Apellidos,
    M.correo AS Correo,
    M.telefono AS Telefono,
	E.id_especialidad AS IdEspecialidad,
    E.nombre AS Especialidad,
    M.fecha_nacimiento AS FechaNacimiento,
    CAST(M.fecha_registro AS DATE) AS FechaRegistro,
    CASE M.turno
        WHEN 'M' THEN 'Mañana'
        WHEN 'T' THEN 'Tarde'
        WHEN 'N' THEN 'Noche'
        ELSE 'No asignado'
    END AS Turno,
    M.estado AS Estado
FROM Tb_Medico M
INNER JOIN Tb_Especialidad E ON E.id_especialidad = M.id_especialidad
GO
/****** Object:  Table [dbo].[Tb_AsistenciaMedico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_AsistenciaMedico](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_medico] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](7) NOT NULL,
	[hora_salida] [time](7) NULL,
	[minutos_tardanza] [int] NOT NULL,
	[observacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_PacienteAlergia]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_PacienteAlergia](
	[id_alergia] [int] IDENTITY(1,1) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[nivel_severidad] [varchar](20) NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[origen] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alergia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_PacienteEnfermedad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_PacienteEnfermedad](
	[id_enfermedad] [int] IDENTITY(1,1) NOT NULL,
	[id_paciente] [int] NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[observacion] [varchar](255) NULL,
	[estado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_enfermedad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tb_TardanzaPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_TardanzaPaciente](
	[id_tardanza] [int] IDENTITY(1,1) NOT NULL,
	[id_cita] [int] NOT NULL,
	[minutos_tardanza] [int] NOT NULL,
	[observacion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tardanza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tb_AsistenciaMedico] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[Tb_AsistenciaMedico] ADD  DEFAULT ((0)) FOR [minutos_tardanza]
GO
ALTER TABLE [dbo].[Tb_Cita] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_Cita] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Tb_Consulta] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[Tb_Especialidad] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_Examen] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[Tb_Medicamento] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_Medico] ADD  DEFAULT ('M') FOR [turno]
GO
ALTER TABLE [dbo].[Tb_Medico] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Tb_Medico] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_Paciente] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Tb_Paciente] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_PacienteAlergia] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Tb_PacienteEnfermedad] ADD  DEFAULT ('A') FOR [estado]
GO
ALTER TABLE [dbo].[Tb_Receta] ADD  DEFAULT (getdate()) FOR [fecha_emision]
GO
ALTER TABLE [dbo].[Tb_AsistenciaMedico]  WITH CHECK ADD  CONSTRAINT [Fk_Asistencia_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Tb_Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Tb_AsistenciaMedico] CHECK CONSTRAINT [Fk_Asistencia_Medico]
GO
ALTER TABLE [dbo].[Tb_Cita]  WITH CHECK ADD  CONSTRAINT [Fk_Cita_Medico] FOREIGN KEY([id_medico])
REFERENCES [dbo].[Tb_Medico] ([id_medico])
GO
ALTER TABLE [dbo].[Tb_Cita] CHECK CONSTRAINT [Fk_Cita_Medico]
GO
ALTER TABLE [dbo].[Tb_Cita]  WITH CHECK ADD  CONSTRAINT [Fk_Cita_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Tb_Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Tb_Cita] CHECK CONSTRAINT [Fk_Cita_Paciente]
GO
ALTER TABLE [dbo].[Tb_Consulta]  WITH CHECK ADD  CONSTRAINT [Fk_Consulta_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[Tb_Cita] ([id_cita])
GO
ALTER TABLE [dbo].[Tb_Consulta] CHECK CONSTRAINT [Fk_Consulta_Cita]
GO
ALTER TABLE [dbo].[Tb_Examen]  WITH CHECK ADD  CONSTRAINT [Fk_Examen_Consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[Tb_Consulta] ([id_consulta])
GO
ALTER TABLE [dbo].[Tb_Examen] CHECK CONSTRAINT [Fk_Examen_Consulta]
GO
ALTER TABLE [dbo].[Tb_Medico]  WITH CHECK ADD  CONSTRAINT [Fk_Medico_Especialidad] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[Tb_Especialidad] ([id_especialidad])
GO
ALTER TABLE [dbo].[Tb_Medico] CHECK CONSTRAINT [Fk_Medico_Especialidad]
GO
ALTER TABLE [dbo].[Tb_PacienteAlergia]  WITH CHECK ADD  CONSTRAINT [Fk_Alergia_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Tb_Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Tb_PacienteAlergia] CHECK CONSTRAINT [Fk_Alergia_Paciente]
GO
ALTER TABLE [dbo].[Tb_PacienteEnfermedad]  WITH CHECK ADD  CONSTRAINT [Fk_Enfermedad_Paciente] FOREIGN KEY([id_paciente])
REFERENCES [dbo].[Tb_Paciente] ([id_paciente])
GO
ALTER TABLE [dbo].[Tb_PacienteEnfermedad] CHECK CONSTRAINT [Fk_Enfermedad_Paciente]
GO
ALTER TABLE [dbo].[Tb_Receta]  WITH CHECK ADD  CONSTRAINT [Fk_Receta_Consulta] FOREIGN KEY([id_consulta])
REFERENCES [dbo].[Tb_Consulta] ([id_consulta])
GO
ALTER TABLE [dbo].[Tb_Receta] CHECK CONSTRAINT [Fk_Receta_Consulta]
GO
ALTER TABLE [dbo].[Tb_RecetaDetalle]  WITH CHECK ADD  CONSTRAINT [Fk_Detalle_Medicamento] FOREIGN KEY([id_medicamento])
REFERENCES [dbo].[Tb_Medicamento] ([id_medicamento])
GO
ALTER TABLE [dbo].[Tb_RecetaDetalle] CHECK CONSTRAINT [Fk_Detalle_Medicamento]
GO
ALTER TABLE [dbo].[Tb_RecetaDetalle]  WITH CHECK ADD  CONSTRAINT [Fk_Detalle_Receta] FOREIGN KEY([id_receta])
REFERENCES [dbo].[Tb_Receta] ([id_receta])
GO
ALTER TABLE [dbo].[Tb_RecetaDetalle] CHECK CONSTRAINT [Fk_Detalle_Receta]
GO
ALTER TABLE [dbo].[Tb_TardanzaPaciente]  WITH CHECK ADD  CONSTRAINT [Fk_Tardanza_Cita] FOREIGN KEY([id_cita])
REFERENCES [dbo].[Tb_Cita] ([id_cita])
GO
ALTER TABLE [dbo].[Tb_TardanzaPaciente] CHECK CONSTRAINT [Fk_Tardanza_Cita]
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarCita]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarCita]
    @codigo_cita VARCHAR(20),
    @nuevo_estado VARCHAR(20),
    @motivo_cancelacion VARCHAR(255) = NULL
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Tb_Cita WHERE codigo_cita = @codigo_cita)
    BEGIN
        PRINT 'La cita no existe.'
        RETURN
    END
    IF @nuevo_estado = 'cancelada' AND @motivo_cancelacion IS NULL
    BEGIN
        PRINT 'Debe ingresar el motivo de la cancelación.'
        RETURN
    END
    UPDATE Tb_Cita 
    SET estado = @nuevo_estado, 
        motivo_cancelacion = @motivo_cancelacion,
        hora_llegada = CASE WHEN @nuevo_estado = 'cancelada' THEN NULL ELSE hora_llegada END
    WHERE codigo_cita = @codigo_cita
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarEspecialidad]
	@id_especialidad INT,
	@nombre VARCHAR(100),
	@descripcion VARCHAR(255),
	@estado CHAR(1)
AS
BEGIN
	IF NOT EXISTS (SELECT 1 FROM Tb_Especialidad WHERE id_especialidad = @id_especialidad)
	BEGIN
		PRINT 'La especialidad no existe.'
		RETURN
	END

	UPDATE Tb_Especialidad
	SET 
		nombre = @nombre,
		descripcion = @descripcion,
		estado = @estado
	WHERE id_especialidad = @id_especialidad
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarMedico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarMedico]
	@dni CHAR(8),
	@nombres VARCHAR(100),
	@apellidos VARCHAR(100),
	@correo VARCHAR(150),
	@telefono VARCHAR(20),
	@turno CHAR(1),
	@id_especialidad INT,
	@fecha_nacimiento DATE,
	@estado CHAR(1)
AS
BEGIN

	IF NOT EXISTS (SELECT 1 FROM Tb_Medico WHERE dni = @dni)
	BEGIN
		PRINT 'El Médico con el DNI: ' + @dni + ' no existe.'
		RETURN
	END

	UPDATE Tb_Medico
	SET 
		nombres = @nombres,
		apellidos = @apellidos,
		correo = @correo,
		telefono = @telefono,
		turno = @turno,
		id_especialidad = @id_especialidad,
		fecha_nacimiento = @fecha_nacimiento,
		estado = @estado
	WHERE dni = @dni
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarPaciente]
	@dni CHAR(8),
	@correo VARCHAR(150),
	@telefono VARCHAR(20),
	@fecha_nacimiento DATE,
	@peso DECIMAL(5,2),
	@altura DECIMAL(4,2),
	@sexo CHAR(1),
	@estado CHAR(1)
AS 
BEGIN 

	DECLARE @estado_actual CHAR(1)

	IF NOT EXISTS (SELECT 1 FROM Tb_Paciente WHERE dni = @dni)
	BEGIN
		PRINT 'El Paciente con el DNI: ' + @dni + ' no existe.'
		RETURN
	END

	SELECT @estado_actual = estado FROM Tb_Paciente WHERE dni = @dni

	UPDATE Tb_Paciente
	SET 
		correo = @correo,
		telefono = @telefono, 
		fecha_nacimiento = @fecha_nacimiento, 
		peso = @peso, 
		altura = @altura, 
		sexo = @sexo,
		estado = @estado,
		fecha_registro = CASE 
							WHEN @estado_actual = 'I' AND @estado = 'A' 
							THEN GETDATE() 
							ELSE fecha_registro 
						END
	WHERE dni = @dni
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DesactivarEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DesactivarEspecialidad]
	@id_especialidad INT
AS
BEGIN 
	DECLARE @estado CHAR(1)

	IF NOT EXISTS (SELECT 1 FROM Tb_Especialidad WHERE id_especialidad = @id_especialidad)
	BEGIN
		PRINT 'La especialidad no existe.'
		RETURN
	END

	SELECT @estado = estado FROM Tb_Especialidad WHERE id_especialidad = @id_especialidad

	IF @estado = 'I' 
	BEGIN 
		PRINT 'La especialidad con el ID: ' + CAST(@id_especialidad AS VARCHAR) + ' se encuentra inactiva.'
		RETURN
	END

	UPDATE Tb_Especialidad
	SET estado = 'I'
	WHERE id_especialidad = @id_especialidad
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DesactivarMedico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DesactivarMedico]
	@dni CHAR(8)
AS
BEGIN 
	IF NOT EXISTS (SELECT 1 FROM Tb_Medico WHERE dni = @dni)
	BEGIN
		PRINT 'El Médico con el DNI: ' + @dni + ' no existe.'
		RETURN
	END

	DECLARE @estado CHAR(1)
	SELECT @estado = estado FROM Tb_Medico WHERE dni = @dni

	IF @estado = 'I'
	BEGIN
		PRINT 'El médico ya se encuentra inactivo'
		RETURN
	END

	UPDATE Tb_Medico
	SET estado = 'I'
	WHERE dni = @dni
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DesactivarPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DesactivarPaciente]
	@dni CHAR(8)
AS
BEGIN
	DECLARE @estado CHAR(1)

	IF NOT EXISTS (SELECT 1 FROM Tb_Paciente WHERE dni = @dni)
	BEGIN
		PRINT 'El usuario con el DNI: '+ @dni + ' no existe.'
		RETURN
	END

	SELECT @estado = estado FROM Tb_Paciente WHERE dni = @dni

	IF @estado = 'I'
	BEGIN 
		PRINT 'El usuario con el DNI: ' + @dni + ' se encuentra inactivo.'
		RETURN
	END

	UPDATE Tb_Paciente
	SET estado = 'I'
	WHERE dni = @dni

	PRINT 'Paciente desactivado correctamente.'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarCita]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarCita]
	@id_paciente INT,
	@id_medico INT,
	@fecha DATE,
	@hora_programada TIME
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ultimoCodigo VARCHAR(20);
	DECLARE @nuevoNumero INT;
	DECLARE @codigoCita VARCHAR(20);

	SELECT @ultimoCodigo = MAX(codigo_cita) FROM Tb_Cita

	IF @ultimoCodigo IS NULL 
		SET @nuevoNumero = 1;
	ELSE
		SET @nuevoNumero = CAST(RIGHT(@ultimoCodigo, 7) AS INT) +1;

	SET @codigoCita = 'CIT-' + RIGHT('0000000' + CAST(@nuevoNumero AS VARCHAR(7)), 7);

	INSERT INTO Tb_Cita (codigo_cita, id_paciente, id_medico, fecha, hora_programada, estado, fecha_registro)
	VALUES (@codigoCita, @id_paciente, @id_medico, @fecha, @hora_programada, 'pendiente', GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarEspecialidad]
	@nombre VARCHAR(100),
	@descripcion VARCHAR(255)
AS
BEGIN
	INSERT INTO Tb_Especialidad (nombre, descripcion, estado)
	VALUES (@nombre, @descripcion, 'A')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarMedicamento]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertarMedicamento]
	@nombre VARCHAR(200),
	@descripcion VARCHAR(300),
	@fecha_vencimiento DATE,
	@stock INT
AS
BEGIN
	INSERT INTO Tb_Medicamento (nombre, descripcion, fecha_vencimiento, stock, estado)
	VALUES (@nombre, @descripcion, @fecha_vencimiento, @stock, 'A')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarMedico]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarMedico]
	@dni CHAR(8),
	@nombres VARCHAR(100),
	@apellidos VARCHAR(100),
	@correo VARCHAR(150),
	@telefono VARCHAR(20),
	@turno CHAR(1),
	@id_especialidad INT,
	@fecha_nacimiento DATE
AS
BEGIN
	IF EXISTS (SELECT 1 FROM Tb_Medico WHERE dni = @dni)
	BEGIN
		PRINT 'El médico con el DNI: ' + @dni + ' ya existe.'
		RETURN
	END

	IF EXISTS (SELECT 1 FROM Tb_Medico WHERE correo = @correo)
	BEGIN
		PRINT 'El médico con el correo: ' + @correo + ' ya existe.'
		RETURN
	END

	IF EXISTS (SELECT 1 FROM Tb_Medico WHERE telefono = @telefono)
	BEGIN
		PRINT 'El médico con el teléfono: ' + @telefono + ' ya existe.'
		RETURN
	END

	INSERT INTO Tb_Medico (dni, nombres, apellidos, correo, telefono, turno, id_especialidad, fecha_nacimiento, fecha_registro, estado)
	VALUES (@dni, @nombres, @apellidos, @correo, @telefono, @turno, @id_especialidad, @fecha_nacimiento, GETDATE(), 'A')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertarPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertarPaciente]
    @dni CHAR(8),
    @nombres VARCHAR(100),
    @apellidos VARCHAR(100),
    @correo VARCHAR(150),
    @telefono VARCHAR(20),
    @fecha_nacimiento DATE,
    @peso DECIMAL(5,2),
    @altura DECIMAL(4,2),
    @sexo CHAR(1)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Tb_Paciente WHERE dni = @dni)
    BEGIN
        PRINT 'El DNI ya está registrado'
        RETURN
    END
    IF EXISTS (SELECT 1 FROM Tb_Paciente WHERE correo = @correo)
    BEGIN
        PRINT 'El correo ya está registrado'
        RETURN
    END
    INSERT INTO Tb_Paciente (dni, nombres, apellidos, correo, telefono, fecha_nacimiento, peso, altura, sexo, fecha_registro, estado)
    VALUES (@dni, @nombres, @apellidos, @correo, @telefono, @fecha_nacimiento, @peso, @altura, @sexo, GETDATE(), 'A')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarEspecialidad]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarEspecialidad]
AS
BEGIN
	SELECT * FROM VW_ListarEspecialidad
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarMedicos]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarMedicos]
AS
BEGIN
	SELECT * FROM VW_ListarMedico
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ListarPaciente]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ListarPaciente]
AS
BEGIN
	SELECT 
		id_paciente AS IdPaciente,
		dni AS Dni,
		nombres AS Nombres,
		apellidos AS Apellidos,
		correo AS Correo,
		telefono AS Telefono,
		fecha_nacimiento AS FechaNacimiento,
		peso AS Peso,
		altura AS Altura,
		sexo AS Sexo,
		CAST(fecha_registro AS DATE) AS FechaRegistro,
		estado AS Estado
	FROM Tb_Paciente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerEspecialidadPorId]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerEspecialidadPorId]
	@id_especialidad CHAR(8)
AS
BEGIN
	SELECT 
		id_especialidad AS IdEspecialidad,
		nombre AS Nombre,
		descripcion AS Descripcion,
		estado AS Estado
	FROM Tb_Especialidad
	WHERE id_especialidad = @id_especialidad
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerMedicoPorDni]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerMedicoPorDni]
	@dni CHAR(8)
AS
BEGIN
	SELECT 
		id_medico AS IdMedico,
		dni AS Dni,
		nombres AS Nombres,
		apellidos AS Apellidos,
		correo AS Correo,
		telefono AS Telefono,
		turno AS Turno,
		id_especialidad AS IdEspecialidad,
		fecha_nacimiento AS FechaNacimiento,
		CAST(fecha_registro AS DATE) AS FechaRegistro,
		estado AS Estado
	FROM Tb_Medico
	WHERE dni = @dni
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ObtenerPacientePorDni]    Script Date: 17/06/2026 21:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ObtenerPacientePorDni]
	@dni CHAR(8)
AS
BEGIN 
	SELECT
		id_paciente AS IdPaciente,
		dni AS Dni,
		nombres AS Nombres,
		apellidos AS Apellidos,
		correo AS Correo,
		telefono AS Telefono,
		fecha_nacimiento AS FechaNacimiento,
		peso AS Peso,
		altura AS Altura,
		sexo AS Sexo,
		CAST(fecha_registro AS DATE) AS FechaRegistro,
		estado AS Estado
	FROM Tb_Paciente
	WHERE dni = @dni
END
GO
